body {
    font-family: sans-serif;
    background-color: #ffd1dc;
}

header{
background-color: #ffd1dc;
padding-top: 10px;
padding-bottom: 40px;
}

nav {
text-align: center;
}

.navigation a:hover{
    color:black;
}


.navigation a:focus{
    background-color: #00bfff;
    color:#ffd1dc;
}

nav a{
  text-decoration: none;
  font-family: sans-serif;
  color: #00bfff;
  display: inline-block;
  padding: 10px 20px;
  background-color: lavender;
  border-bottom: 5px solid #00bfff;
}

body main{
    background-color: #fadadd;
}

h1{
    text-align: center;
    color: #00bfff;
}

ul img{
    margin-left: 240px;
}

body footer{
    background-color: #ddadaf;
}

table{
    border-collapse:collapse;
}


td:first-child{
    background-color: #00bfff;
    border: 3px solid black;

}

